@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-rich-black: #090B0B;
  --primary-UN-blue: #5386E4;
  --primary-platinum: #EAEAEA;
  --primary-rose-madder: #DA2C38;
  --primary-bottle-green: #226F54;
  --primary-dark: rgba(0,0,0, 1);
  --primary-lg-dark: rgba(20,20,20, 0);
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}
/*****************************NAVBAR**********************/

nav {
  z-index:2;
}
.bg-color {
  background-color: var(--primary-UN-blue);
}

.name {
  max-width: 15rem;
  padding: 0 !important;
  color: #ffffff;
  font-size: 1.25rem;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-platinum) !important;
  border-top: 0.1875rem solid var(--primary-lg-dark)
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-platinum);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-platinum);
}

.menu-icon {
  color: var(--primary-platinum);
}

/*****************************HEADER**********************/

.header-wrapper {
  background-color:  var(--primary-rich-black);
  height: 90vh;
}

.main-info {
  position: relative;
  top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}


.btn-main-offer {
  border: 1px solid var(--primary-UN-blue);
  text-transform: uppercase;
  text-decoration:none;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-platinum);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration:none;
  background-color: var(--primary-UN-blue);
  color: var(--primary-platinume);
  transition: .2s ease-in-out;
}

/**************************PARTICLES***************************/

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}



/**************************TYPED TEXT**************************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-platinum)
}

/*****************************ABOUT**********************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

}
.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-UN-blue);
    z-index: 2;

}

.about-heading {
  color: var(--primary-UN-blue);
  text-transform: uppercase;
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
/******************************CONTACT*****************************/
 .contacts {
  background: var(--primary-rich-black);
  padding: 3rem 0;

 }

 .contacts h1 {
  color: var(--primary-UN-blue);
  padding: 1.3rem 0;
  text-transform: uppercase;
 }

 .contacts p {
  color: var(--primary-UN-blue);
  font-size: 1.2rem;
 }

.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-UN-blue);
  border-radius: 0;
  color: var(--primary-bottle-green);
  outline:0 !important;
  box-shadow: none !important;
  top:0;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts container {
  padding: 4rem 0;
}
.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-bottle-green);
  border-bottom: 0.125rem solid var(--primary-rose-madder);
}

.contacts textarea {
  height: 9rem !important;

}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

.error {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-bottle-green);
}

/*********************FOOTER**********************/
.footer {
  background: var(--primary-rich-black);
  border-top: 0.125rem solid var(--primary-UN-blue);
}

.footer p {
  color: var(--primary-UN-blue);
}

.footer a {
  color: var(--primary-UN-blue);
}
















